.idea
.idea/*
*.iml
*/*.iml
*.log
.DS_Store
*/target
target/
.settings
.classpath
.project
.externalToolBuilders
*.orig
.gwt
.bat
SSTS.db
console/src/main/webapp/META-INF/
lib/
ssts.log*
terminal-software-jnlp-folder
versions/
*.dll
*/*.dll

